<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace 名称空间-->
<mapper namespace="top.kk.bookmanagerspringboot.mappers.BookMapper">
    <!--因为每次查询取别名都很麻烦，所以可以直接提取sql片段，在下面使用-->
    <!--    <sql id = "book_colum">-->
    <!--        bookid,title,author,price,type,floor as storey,status-->
    <!--    </sql>-->

    <!--直接使用结果映射-->
<!--    <resultMap id="bookresultmap" type="Book">-->
<!--        <result column="floor" property="storey"></result>-->
<!--    </resultMap>-->

    <!--statement-->
    <select id="SelectAllBook" resultType="top.kk.bookmanagerspringboot.entity.Book">
        select
            *
        from book
    </select>

</mapper>